// breakpoints for custom styles
$lg: 1024px;
$sm: 640px;

.main {
  @apply bg-light-grayish-cyan font-space-mono flex min-h-screen flex-col items-center justify-center gap-y-9 pt-10 sm:gap-y-16 sm:pb-10;

  .container {
    @apply invisible grid translate-y-5 grid-cols-1 gap-6 rounded-t-3xl bg-white py-6 pl-6 pr-6 opacity-0 shadow-lg sm:gap-10 sm:rounded-b-3xl sm:py-8 sm:pl-10 sm:pr-8 md:grid-cols-2;
    width: 51rem;
    animation: showUp 0.4s ease-in forwards;
    @media (width < $lg) {
      width: 90%;
    }
    @media (width < $sm) {
      width: 100%;
    }

    .form {
      @apply space-y-6 sm:space-y-8;

      .field {
        .heading {
          @apply flex items-center justify-between text-sm font-semibold;

          .label {
            @apply text-dark-grayish-cyan;
          }

          .errorText {
            @apply invisible text-red-400 opacity-0 transition duration-300;
          }
        }

        .input {
          @apply bg-very-light-grayish-cyan hover:border-strong-cyan focus-within:border-strong-cyan mt-2 flex cursor-pointer items-center rounded-md border-2 border-transparent transition duration-300;

          .icon {
            @apply pl-4;
          }

          input {
            @apply text-very-dark-cyan w-full cursor-pointer rounded-md bg-transparent px-4 py-2 text-end text-xl font-semibold outline-none;
          }
        }

        &.error {
          .heading .errorText {
            @apply visible opacity-100;
          }

          .input {
            @apply border-red-400;
          }
        }

        .tipsContainer {
          @apply mt-3 grid grid-cols-2 gap-3 sm:grid-cols-3;

          .radioBtn {
            @apply bg-very-dark-cyan relative cursor-pointer rounded-md py-2 transition duration-300;

            input {
              @apply invisible absolute opacity-0;
            }

            .displayLabel {
              @apply block text-center text-xl font-semibold text-white transition duration-300;
            }

            &:has(input:checked),
            &:hover {
              @apply bg-light-grayish-cyan;

              .displayLabel {
                @apply text-very-dark-cyan;
              }
            }
          }

          .customWrapper {
            @apply relative;

            .customBtn {
              @apply bg-very-light-grayish-cyan visible absolute w-full opacity-100 transition duration-300;

              .displayLabel {
                @apply text-dark-grayish-cyan;
              }

              &.hide {
                @apply invisible opacity-0;
              }
            }

            .customInput {
              @apply bg-very-light-grayish-cyan text-very-dark-cyan hover:border-strong-cyan focus:border-strong-cyan invisible absolute h-full w-full cursor-pointer rounded-md border-2 border-transparent px-3 text-end text-xl font-semibold opacity-0 outline-none transition duration-300;

              &.show {
                @apply visible opacity-100;
              }
            }
          }
        }
      }
    }

    .resultContainer {
      @apply bg-very-dark-cyan flex flex-col justify-between gap-5 rounded-3xl px-6 py-6 sm:px-8 sm:py-9;

      .values {
        @apply mt-4 space-y-8;

        .value {
          @apply flex items-center justify-between;

          .label {
            .hero {
              @apply block text-sm text-white;
            }

            .sub {
              @apply text-grayish-cyan mt-1 block text-xs;
            }
          }

          .number {
            @apply text-strong-cyan text-3xl font-bold sm:text-5xl;
          }
        }
      }

      .btn {
        @apply bg-strong-cyan/45 text-very-dark-cyan relative w-full overflow-hidden rounded py-2 text-lg font-semibold uppercase transition duration-300 hover:shadow-lg active:scale-105;

        span {
          @apply relative;
        }

        &:before {
          content: "";
          @apply bg-strong-cyan absolute bottom-full left-0 h-full w-full rounded transition-all duration-300;
        }

        &:hover {
          &:before {
            @apply bottom-0;
          }
        }
      }
    }
  }
}

@keyframes showUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
